/* Styling for the body */
body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Light Mode */
body.light-mode {
    background-color: #f5f5f5;
    color: #111;
}

/* Dark Mode */
body.dark-mode {
    background-color: #111;
    color: white;
}

/* Navigation bar */
nav {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .title {
    font-size: 20px;
}

nav.light-mode {
    background-color: #fff;
}

nav.dark-mode {
    background-color: #222;
}

/* Switch slider for light/dark mode */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.tool-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 20px; /* Space between containers */
    padding: 30px;
    max-width: 1200px; /* You can adjust this */
    margin: 0 auto; /* Center the grid */
}

.tool-container {
    display: flex;
    flex-direction: column; /* Align items vertically */
    gap: 20px;
}


.tool-category {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    /* No need for a fixed height; the content will dictate it */
}

/* Title styling */
.tool-category h2 {
    font-size: 24px;
    text-align: start;
}

.tool-category h2 i{
    margin-right: 10px;
}

/* Nested List Styling */
.category-list {
    list-style-type: none;
    padding-left: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
    border-left: 2px solid white;
    border-radius: 8px;
}

.category-list li i{
    margin-right: 4px;
}

.subcategory-list {
    list-style-type: none;
    margin-top: 5px;
    padding-left: 10px;
    border-left: 2px solid white;
    border-radius: 8px;
}

.category-list li a,
.subcategory-list li a{
    color: white;
    text-decoration: none;
}

.category-list li a:hover,
.subcategory-list li a:hover {
    color: white;
    font-weight: 500;
}

/* Disclaimer styling */
.disclaimer {
    background-color: #f8d7da;
    color: #721c24;
    padding: 20px;
    border-left: 5px solid #f5c6cb;
    margin: 40px auto;
    border-radius: 8px;
    width: 800px;
    text-align: center;
}

/* Responsive layout for smaller screens */
@media (max-width: 1200px) {
    .tool-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .tool-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .tool-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
